.DownContentA{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1500px;
    padding-bottom:30px;
    padding:30px;
    .DownContentA-title{
        h3{
            font-size:26px;
        }
        h4{
            font-size:20px;
            margin-top:-20px;
            font-weight:450;
            color: $c-DoveGray;
        }
    }
    .DownContentA-bar{
        border-bottom: 1px solid $c-Mercury;
        .DownContentA-bar__list{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
                -ms-flex-direction:row;
                    flex-direction:row;
            div{
                button{
                    font-weight:550;
                    font-size:17px;
                    padding:20px;
                    width:100%;
                    height:100%;
                    border:none;
                    background-color:$c-white;
                    cursor:pointer;
                }
                button:hover{
                    background-color:$c-Mercury;
                }
                button.active{
                    color: $c-Lochmara;
                    border-bottom:1px solid $c-Lochmara;
                }
            }
        }
    }
    .DownContentA-list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-pack: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start;
        
        .DownContentA-list__el{
            cursor: pointer;
            width:23%;
            margin:10px;
            position:relative;
            max-height:200px;
            
            .img-wrapper{
                width:100%;
                height:100%;
                img{
                    width:100%;
                    height:100%;
                }
                .shadow{
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(185%, $c-black));
                    background: -o-linear-gradient(top, transparent 0%, $c-black 185%);
                    background: linear-gradient(to bottom, transparent 0%, $c-black 185%);
                }
            }
            .desc-wrapper{
                
                position:absolute;
                color:$c-white;
                width:100%;
                bottom:0;
                .desc{
                    height:95px;
                    padding:30px 20px;
                    .city{
                        font-size:20px;
                        font-weight:450;
                    }
                    .attractions{
                        font-size:16px;
                        font-weight:450;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1177px) {
    .DownContentA{
        .DownContentA-list{
            .el{
                width: 47% !important;
                margin: 10px !important;
                position: relative !important;
                max-height: 290px !important;
            }
        }
    }
        
}


@media screen and (max-width: 740px) {
    .DownContentA{
        .DownContentA-list{
            .el{
                width: 97% !important;
                margin: 10px !important;
                position: relative !important;
                max-height: 369px !important;
            }
        }
    }
}