.MiddleContentA{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1500px;
    padding-bottom:30px;
    .MiddleContentA-login__wrapper{
        padding:30px;
        border-bottom: 1px solid $c-Mercury;
        .MiddleContentA-login{
            border:1px solid $c-Mercury;
            padding: 20px;
            margin-bottom: 20px;
            .title{
                font-size:20px;
                padding-bottom:15px;
            }
            .desc{
                font-weight:450;
                
            }
            .login{
                margin-top:20px;
                margin-left:-10px;
                padding:10px 5px;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                
                -webkit-box-pack:center;
                
                    -ms-flex-pack:center;
                
                        justify-content:center;
                width:110px;
                cursor:pointer;
                .link{
                    color: $c-Lochmara;
                    font-weight:450;
                    font-size:18px;
                }
            }
            .login:hover{
                background-color:$c-Mercury;
            }
        }

    }
    .MiddleContentA-disposition{
        padding:30px;
        border-bottom: 1px solid $c-Mercury;
        .disposition-title{
            h2{
                font-size:26px;
            }
        }
        .disposition-list{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
                -ms-flex-direction:row;
                    flex-direction:row;
            -webkit-box-pack:justify;
                -ms-flex-pack:justify;
                    justify-content:space-between;
            .disposition-el{
                width:30%;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                color: $c-MineShaft;
                .svg{
                    padding-right:20px;
                }
                .desc{
                    &-title{
                        font-size:18px;
                        
                    }
                    &-subtitle{
                        padding-top:5px;
                        font-weight:450;
                        font-size:17px;
                        line-height:1.3;
                    }
                }
            }
        }
    }
    
}