.SearchBarA{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background-color: $c-Concrete;
    border:1px solid transparent;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    .SearchBarA-wrapper{
        width:80%;
        max-width:1100px;
        .SearchBarA-title{
            padding-top:100px;
            .title{
                font-size:40px;
            }
            .sub-title{
                font-size:18px;
                color:$c-grey;
                font-weight:450;
            }
        }
        .SearchBarA-bar{
            padding:50px 0;
            .form{
                background-color: $c-SelectiveYellow;
                width:100%;
                border-radius:3px;
                border:5px solid $c-SelectiveYellow;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                label{
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    background-color:$c-white;
                    border-right:5px solid $c-SelectiveYellow;
                    width:100%;
                    span{
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-pack:center;
                            -ms-flex-pack:center;
                                justify-content:center;
                        -webkit-box-align:center;
                            -ms-flex-align:center;
                                align-items:center;
                        padding:0 20px;
                    }
                    input{
                        font-weight:450;
                        font-size:20px;
                        border:none;
                        width:90%;
                    }
                }
                button{
                    font-size:20px;
                    padding:20px 30px;
                    border:none;
                    background-color:$c-Lochmara;
                    border-radius:3px;
                    color:$c-white;
                }
            }
        }
    }
}