.UpContentA{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1450px;
    .UpContentA-title{
        padding-top:30px;
        padding-left:10px;
        h2{
            font-size:27px;
        }
    }
    .UpContentA-list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-box-pack:justify;
            -ms-flex-pack:justify;
                justify-content:space-between;
        
        .UpContentA-list__el{
            
            margin:10px;
            position:relative;
            .img-wrapper{
                width:100%;
                height:100%;
                cursor: pointer;
                img{
                    width:100%;
                    height:100%;
                }
                .shadow{
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(185%, $c-black));
                    background: -o-linear-gradient(top, transparent 0%, $c-black 185%);
                    background: linear-gradient(to bottom, transparent 0%, $c-black 185%);
                }
            }
            .desc-wrapper{
                cursor: pointer;
                position:absolute;
                color:$c-white;
                width:100%;
                bottom:0;
                
                .desc{
                    height: 95px;
                    padding: 30px 20px;
                    .city{
                        font-size:20px;
                        font-weight:450;
                    }
                    .attractions{
                        font-size:16px;
                        font-weight:450;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 740px) {

    .UpContentA-list{
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
            -ms-flex-direction: column!important;
                flex-direction: column!important;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .el{
            width: 97% !important;
            max-height: 400px !important;
        }
        .UpContentA-title {
            padding-top: 30px;
            padding-left: 20px;
        }
    }
}