.Search-section{
    width: 100%;
    background-color: $c-PeachCream;
}

.Search-section__covidInfo{
    min-width: 1300px;
    margin: 0 auto;
    width: 55%;
    background-color: $c-PeachCream;
    .Search-sectionCovidInfo__title{
        align-items: center;
        position: relative;
        // padding: 20px 0 0 0;
        display: flex;
        .sectionCovidInfo__icon{
            margin-right: 10px;
            
        }
        .sectionCovidInfo__title{
            padding-top: 20px;

        }
        .sectionCovidInfo__rollUp{
            position: absolute;
            right: 20px;
        }
    }
    .Search-section__desc{
        margin-left: 45px;
        font-weight: 500;

    }
    .Search-section__readMore{
        margin: 25px 25px 25px 45px;
        padding-bottom: 50px;
        a{
            color: $c-Lochmara;
            text-decoration: none;
        }
    }
    
}