.DownContentCR{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 80px 0 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display:flex;
    margin: 0 auto;
    max-width:1310px;
    .DownContentCR-container{

        .list{
            list-style-type: circle;
        }
        border: 1px solid $c-Mercury;
        background-color: $c-white;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        margin: 0 auto;
        width: 100%;
        .findMore{
            border-right: 1px solid $c-Mercury;
            background: $c-WildSand;
            -ms-flex-preferred-size: 400px;
                flex-basis: 400px;
            padding: 30px;
            .findMore-desc{
                font-weight: 500;
                font-size: 18px;
            }
            .findMore-link{
                margin-top: -25px;
                .Link{
                    color: $c-Lochmara;
                    font-weight: 740;
                    font-size: 18px;
                }
                .Link:hover{
                    color: $c-Indochine;
                }
            }

        }
        .questions{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 80%;
            .border-bottom{
                border-bottom:1px solid $c-Mercury;
            }
            .question-wrapper-active{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .question-answer{
                    display: none;
                    width:95%;
                    padding: 20px 0 0;
                    margin:0 10px 0 20px;
                    font-size: 15px;
                    font-weight: 450;
                }
                .question-title{
                    cursor: pointer;
                    padding-left: 20px;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    position: relative;
                    vertical-align: center;
                    min-height: 70px;
                    font-size: 18px;
                    span{
                        right: 15px;
                        position: absolute;
                    }
                    
                }
            }
            .question-wrapper-active:hover{
                background-color:$c-WildSand;
            }
            .question-wrapper{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .question-answer{
                    width:95%;
                    padding: 20px 0 0;
                    margin:0 10px 0 20px;
                    font-size: 15px;
                    font-weight: 450;
                }
                .question-title{
                    cursor: pointer;
                    padding-left: 20px;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    position: relative;
                    vertical-align: center;
                    min-height: 70px;
                    font-size: 18px;
                    span{
                        right: 15px;
                        position: absolute;
                        -webkit-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                                transform: rotate(180deg);

                    }
                }
            }
        }
    }

}