.DownerContentCR{
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: 0 auto;
    max-width:1310px;
    .DownerContentCR-title{
        h3{
            font-size:28px;
        }
    }
    .DownerContentCR-list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-pack:justify;
            -ms-flex-pack:justify;
                justify-content:space-between;
        padding-bottom:30px;

        .DownerContentCR-el{
            padding-top:20px;
            width:300px;
            height: 310px;
            position:relative;
            cursor: pointer;
                img{
                    width:100%;
                    height:100%;
                }
                .info{
                    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(50%,rgba(0,0,0,.8)),to(transparent));
                    color:$c-white;
                    left:0;
                    bottom:0;
                    cursor:pointer;
                    position:absolute;
                    .info-desc{
                        padding:20px 0 0 20px;
                        h3{
                            font-size:20px;
                            margin-bottom: 10px;
                        }
                        h4{
                            font-weight:450;
                            font-size:16px;
                        }
                    }
                }
                .info:hover{
                    color:$c-orange;
                }
                
        }
    }
}