.MiddleContentCR{
    background-color: $c-PeachCream;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .MiddleContentCR-wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .MiddleContentCR-title{
            padding-top:60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 54%;
            margin: 0 auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            h2{
                font-size:28px;
            }
        }
        .MiddleContentCR-desc{
            width: 54%;
            margin: 0 auto;
            h3{
                font-size:16px;
                font-weight:500;
            }
        }
        .MiddleContentCR-list{
            padding-bottom: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin: 0 auto;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            max-width: 1310px;
            .MiddleContentCR-list__el{
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                -webkit-box-align:start;
                    -ms-flex-align:start;
                        align-items:flex-start;
                .icon{
                    padding-right:15px;
                }
                .desc{
    
                    .desc-1{
                        font-size:20px;
                    }
                    .desc-2{
                        font-size:18px;
                        font-weight:500;
                    }
                }
            }
        }

    }
    
}