.SearchFormCR{
    input::-webkit-input-placeholder{
        color: $c-black !important;
        font-weight: 500;
        opacity: 1;
    }
    input::-moz-placeholder{
        color: $c-black  !important;
        font-weight: 500;
        opacity: 1;
    }
    input:-ms-input-placeholder{
        color: $c-black  !important;
        font-weight: 500;
        opacity: 1;
    }
    input::-ms-input-placeholder{
        color: $c-black  !important;
        font-weight: 500;
        opacity: 1;
    }
    input::placeholder{
        color: $c-black  !important;
        font-weight: 500;
        opacity: 1;
    }
    input:focus::-webkit-input-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus::-moz-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus:-ms-input-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus::-ms-input-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus::placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background-color: $c-Concrete;
    border:1px solid transparent;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    .SearchFormCR-wraper{
        width:100%;
        max-width:1320px;
        .SearchFormCR-title{
            padding-top:50px;
            .title{
                font-size:35px;
            }
            .sub-title{
                color: $c-Boulder2;
                font-size:18px;
                font-weight:450;
            }
        }
        .SearchFormCR-form{
            padding-top:30px;
            .radio-btns{
                color: $c-Boulder2;
                font-size:18px;
                font-weight:450;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                label{
                    margin-right:30px;
                }
            }
            .search-bar{
                margin-top:20px;
                background-color: $c-SelectiveYellow;
                width:100%;
                border-radius:3px;
                border:5px solid $c-SelectiveYellow;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                .place-container{
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    background-color:$c-white;
                    border-right:5px solid $c-SelectiveYellow;
                    -webkit-box-align:center;
                        -ms-flex-align:center;
                            align-items:center;
                    -webkit-box-pack:start;
                        -ms-flex-pack:start;
                            justify-content:flex-start;
                    width:55%;
                    position: relative;
                    .place:hover{
                        outline: 1px solid $c-PirateGold;
                    }
                    .place:focus{
                        outline: 1px solid $c-PirateGold;
                    }
                    .place-SP:hover{
                        outline: 1px solid $c-PirateGold;
                    }
                    .place-SP:focus{
                        outline: 1px solid $c-PirateGold;
                    }
                    .place-SP{
                        height: 100%;
                        width: 100%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        z-index: 1;
                        span{
                            position: absolute;
                            left: 10px;
                        }
                        input{
                            height: 100%;
                            font-size: 18px;
                            font-weight: 500;
                            border: none;
                            width: 100%;
                            margin-left: 50px;
                        }
                    }
                    .place{
                        height: 100%;
                        width: 49.8%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        z-index: 1;
                        span{
                            position: absolute;
                            left: 10px;
                        }
                        input{
                            height: 100%;
                            font-size: 18px;
                            font-weight: 500;
                            border: none;
                            width: 100%;
                            margin-left: 50px;
                        }
                    }
                    .place1:hover{
                        outline: 1px solid $c-PirateGold;
                    }
                    .place1:focus{
                        outline: 1px solid $c-PirateGold;
                    }
                    .place1{
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top:0;
                        margin-left: 10px;
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        background-color:$c-white;
                        -webkit-box-align:center;
                            -ms-flex-align:center;
                                align-items:center;
                        -webkit-box-pack:center;
                            -ms-flex-pack:center;
                                justify-content:center;
                        width:50%;
                        input{
    
                            height: 100%;
                            font-size:18px;
                            font-weight:500;
                            border:none;
                            width:90%;
                        }
                        span{
                            padding-left: 10px;
                            border-left:2px solid $c-silver;
                            margin-right:10px;
                            height: 40px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                        }
                    }
                }
                .date{
                    position: relative;
                    width:40%;
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-orient:horizontal;
                    -webkit-box-direction:normal;
                        -ms-flex-direction:row;
                            flex-direction:row;
                    .date-calendar{
                        position: absolute;
                        -webkit-box-shadow: 0 2px 8px $c-silver;
                                box-shadow: 0 2px 8px $c-silver;
                        top: 74px;
                        width: 645px;
                        left:0;
                        height: auto;
                        z-index: 3;
                        .time-window{
                            background-color: $c-Polar !important;
                            width: 100%;
                            height: 80px;
                            z-index: 4;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: row;
                                    flex-direction: row;
                            -ms-flex-pack: distribute;
                                justify-content: space-around;
                            .window{
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-orient: horizontal;
                                -webkit-box-direction: normal;
                                    -ms-flex-direction: row;
                                        flex-direction: row;
                                .desc{
                                    font-weight: 500;
                                    color: $c-Boulder2;
                                    margin-right: 10px;
                                }
                                .time-data{
                                    font-weight: 450;
                                    margin: 10px 12px 10px 0px;
                                    width: 100%;
                                    border-color: $c-silver;
                                    background-color: $c-white;
                                    background-position: right 8px top 50%;
                                    background-repeat: no-repeat;
                                    background-size: 16px;
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='16' height='16'%3E%3Cpath fill='%23383838' d='M92 52a4 4 0 0 1-2.8-1.2L64 25.7 38.8 50.8a4 4 0 0 1-5.6-5.6L64 14.3l30.8 30.9A4 4 0 0 1 92 52zm0 24a4 4 0 0 0-2.8 1.2L64 102.3 38.8 77.2a4 4 0 0 0-5.6 5.6L64 113.7l30.8-30.9A4 4 0 0 0 92 76z'/%3E%3C/svg%3E");
                                    select::-ms-expand {
                                        display: none;
                                    }
                                    select{
                                        background-color: transparent;
                                        -moz-appearance:none; /* Firefox */
                                        -webkit-appearance:none; /* Safari and Chrome */
                                        appearance:none;
                                        width: 77px;
                                        height: 49px;
                                        padding-left:10px;
                                        border-radius: 2px;
                                        border-color: $c-silver;
                                    }
                                }
                            }
                        }
                        .react-calendar{
                            height: 328px;
                            
                            .react-calendar__viewContainer{
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;

                                .react-calendar__month-view{
                                    margin: 10px;
                                    .react-calendar__month-view__weekdays__weekday{
                                        color: $c-Boulder2;
                                        font-weight: 600;
                                    }
                                }                               
                                .react-calendar__tile:hover{
                                    background-color: $c-Concrete;
                                    border-radius: 0;color: $c-black;
                                }
                                .react-calendar__tile--range{
                                    background-color: $c-Concrete;
                                    border-radius: 0;
                                    color: $c-black ;
                                }
                                .react-calendar__tile--range:hover{
                                    background-color: $c-silver;
                                    border-radius: 0;
                                    color: $c-black ;
                                }
                                .react-calendar__tile--rangeStart{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeEnd{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeStart:hover{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeEnd:hover{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeBothEnds{
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                    .date-wrapper:focus{
                        outline: 1px solid $c-PirateGold;
                    }
                    .date-wrapeer:hover{
                        outline: 1px solid $c-PirateGold;
                    }
                    .date-wrapper{
                            text-align:center;
                            width:100%;
                            height:100%;
                            background-color:$c-white;
                            -webkit-box-align:center;
                                -ms-flex-align:center;
                                    align-items:center;
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                            font-weight:500;
                            font-size:18px;
                        .date-data{
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            width: 50%;
                            background-color:$c-white;
                            border-right:5px solid $c-SelectiveYellow;
                            font-weight:500;
                            height: 100%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            cursor: pointer;
                            svg{
                                margin-right:10px;
                            }
                        }.date-data2{
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            width: 50%;
                            background-color:$c-white;
                            font-weight:500;
                            height: 100%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            cursor: pointer;
                            .date-data__wrapper{
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;
                                width: 100%;
                                height:100%;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                            }
                            svg{
                                margin-right:10px;
                            }
                        }
                    }
                    
                }
                .button{
                    border:none;
                    border-left:5px solid $c-SelectiveYellow;
                    font-size:20px;
                    padding:20px 40px;
                    background-color:$c-Lochmara;
                    border-radius:3px;
                    color:$c-white;
                    cursor: pointer;
                }
            }
            .checkbox{
                padding-top:30px;
                color: $c-Boulder2;
                font-size:18px;
                font-weight:450;
                label{
                    svg{
                        margin-left:5px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .SearchFormCR-form{
        .search-bar{
            -webkit-box-orient:  vertical;
            -webkit-box-direction:  normal;
                -ms-flex-direction:  column;
                    flex-direction:  column;
            .place-container{
                border-right: none !important;
                width: 100% !important;
                height: 65px !important;
                border-bottom: 5px solid $c-SelectiveYellow !important;
            }
            .date{
                width: 100% !important;
                .date-wrapper{
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    .date-data{
                        padding-left: 13px;
                        -webkit-box-pack: start !important;
                            -ms-flex-pack: start !important;
                                justify-content: flex-start !important;
                        width: 100% !important;
                        border-right: none !important;
                        height: 65px !important;
                        border-bottom: 5px solid $c-SelectiveYellow !important;
                    }
                    .date-data2{
                        padding-left: 13px;
                        -webkit-box-pack: start !important;
                            -ms-flex-pack: start !important;
                                justify-content: flex-start !important;
                        width: 100% !important;
                        height: 65px !important;
                        border-bottom: 5px solid $c-SelectiveYellow !important;
                    }
                }
            }
            .button{
                border-left: none !important;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                text-align: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

            }
        }
    }
}