
.UpContentCR{
    padding-top: 40px;
    padding-bottom:30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: 0 auto;
    max-width:1310px;
    .UpContentCR-title{
        margin-bottom: -30px;
    }
    .UpContentCR-list{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .UpContentCR-el{
            cursor: pointer;
            height:560px;
            width: 32%;
            margin-top: 30px;
            border: 1px solid $c-Mercury;
            .UpContentCR-el__img{
                width: 100%;
                height: 300px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .UpContentCR-el__info{
                color: $c-DoveGray;
                padding: 20px;
                .city{
                    h3{
                        color: $c-black;
                        font-size: 20px;
                    }
                }
                .desc{
                    h4{
                        margin-top: -20px;
                        font-weight: 450;
                    }
                }
                .startPrice{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    font-weight: 450;
                    .startPrice-icon{
                        padding-right: 10px;
                    }
                    .startPrice-desc{
                        color: $c-MineShaft;
                        :nth-child(2){
                            color:$c-DoveGray;
                        }
                    }
                }
                .Link{
                    padding-top: 20px;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 450;
                    .link{
                        color: $c-Lochmara;
                        text-decoration: none;
                    }
                    .link:hover{
                        color:$c-Indochine ;
                    }
                }
            }
        }
    }
}