.PopularRentals{
    padding-top: 40px;
    padding-bottom:30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: 0 auto;
    max-width:1310px;
    .PopularRentals-title{
        h3{
            font-size: 35px;
        }
    }
    .PopularRentals-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}