.Flights{
    background-color: $c-Concrete;
    padding-top: 30px;
    
    .CovidBar{
        color: $c-MineShaft;
        margin: 0 auto;
        width: 100%;
        max-width: 1350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-weight: 500;
        margin-bottom:20px;
        padding:0 15px;
        .covid-info{
            padding:0 20px;
            background-color: $c-PeachCream;
            border: 1px solid $c-Indochine;
            padding:20px 15px;
        }
    }



    .SearchFormF{
        padding:20px;
        width: 90%;
        max-width: 1350px;
        margin: 0 auto;
        .SearchFormF-title{
            .title{
                font-size:35px;
            }
            .subtitle{
                margin-top:10px;  
                font-size:17px; 
                font-weight: 500;
            }
        }
        form{
            .form-bar{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                .select-container{
                    color: $c-Boulder2;
                    font-size: 18px;
                    font-weight: 450;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    .class{
                        position: relative;
                        width: auto;
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 8 12' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3E arrows %3C/title%3E%3Cg stroke='%2307C' stroke-width='1.5' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1 4l3.034-3L7 3.932M7 8l-3.034 3L1 8.068'/%3E%3C/g%3E%3C/svg%3E");
                        background-image:url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 24 24" fill="#BDBDBD" width="30" height="30"><path d="M22.502 13.5v8.25a.75.75 0 01-.75.75h-19.5a.75.75 0 01-.75-.75V5.25a.75.75 0 01.75-.75h19.5a.75.75 0 01.75.75v8.25zm1.5 0V5.25A2.25 2.25 0 0021.752 3h-19.5a2.25 2.25 0 00-2.25 2.25v16.5A2.25 2.25 0 002.252 24h19.5a2.25 2.25 0 002.25-2.25V13.5zm-23.25-3h22.5a.75.75 0 000-1.5H.752a.75.75 0 000 1.5zM7.502 6V.75a.75.75 0 00-1.5 0V6a.75.75 0 001.5 0zm10.5 0V.75a.75.75 0 00-1.5 0V6a.75.75 0 001.5 0z"></path></svg>');
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        .icon{
                            position: absolute;
                            right: 0px;
                        }
                        select{
                            background-color: transparent;
                            border: none;
                            -moz-appearance:none; /* Firefox */
                            -webkit-appearance:none; /* Safari and Chrome */
                            appearance:none;
                            padding: 3px;
                            border: 1px solid transparent;
                        }
                        select:focus{
                            border: 1px solid $c-RegalBlue
                        }
                    }
                }
                .people{
                    margin-left: 20px;
                    padding-right: 20px;
                    .people-container{
                        position: relative;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        .people-val{
                            padding: 3px;
                        }
                        .icon{
                            position: absolute;
                            right: -20px;
                        }
                    }
                    .PopUp{
                        z-index: 2;
                        position: absolute;
                        -webkit-box-shadow: 0 2px 8px $c-SilverChalice;
                                box-shadow: 0 2px 8px $c-SilverChalice;
                        width: 500px;
                        max-height: 500px;
                        overflow-y: auto;
                        background: $c-white;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        
                        .window{
                            padding: 10px 0;
                            margin: 20px 20px 5px;
                            border: 1px solid ;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: row;
                                    flex-direction: row;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                    justify-content: space-between;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            border: 1px solid $c-Concrete;
                            
                            .numbers{
                                width: 30%;
                                height: 40px;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-orient: horizontal;
                                -webkit-box-direction: normal;
                                    -ms-flex-direction: row;
                                        flex-direction: row;
                                margin-right: 20px;
                                -webkit-box-pack: justify;
                                    -ms-flex-pack: justify;
                                        justify-content: space-between;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                .value{
                                    font-weight: 400;
                                    font-size: 21px;
                                }
                                .minus{
                                    height: 100%;
                                    font-size: 40px;
                                    font-weight: 300;
                                    line-height: 33px;
                                    padding: 3px 11px 0px;
                                }
                                .plus{
                                    height: 100%;
                                    font-size: 40px;
                                    font-weight: 300;
                                    line-height: 32px;
                                    padding: 2px 8px 6px;
                                }
                                .btn{
                                    color: $c-white;
                                    background-color: $c-Lochmara;
                                    cursor: pointer;
                                    border-radius: 2px;
                                }
                                .btn-notactive{
                                    cursor: not-allowed;
                                    background-color: $c-SilverChalice;
                                    color: $c-white;
                                    border-radius: 2px;
                                }
                            }
                            .desc{
                                padding: 20px;
                                font-size: 18px;
                                .subtitle{
                                    font-size: 16px;
                                    color:$c-Boulder2;
                                    font-weight: 400;
                                }
                            }
                        }
                        .kids{
                            margin-top: 0px;
                        }
                        .submit-container{
                            margin-top: 10px;
                            background-color: $c-Concrete;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: row;
                                    flex-direction: row;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                    justify-content: space-between;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            .val{
                                font-size: 18px;
                                margin: -30px 20px 20px;
                            }
                            .submit-btn{
                                button{
                                    font-size: 18px;
                                    color: $c-white;
                                    background-color: $c-Lochmara;
                                    padding: 23px 80px;
                                    margin: 20px;
                                }
                            }
                        }
                    }


                }
            }
            .radio-select{
                color: $c-Boulder2;
                font-size:18px;
                font-weight:450;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                margin-bottom:none ;
                label{
                    margin-right:30px;
                }
            }
            .search-bar{
                margin-top:20px;
                background-color: $c-SelectiveYellow;
                width:100%;
                border-radius:3px;
                border:5px solid $c-SelectiveYellow;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                
                
                .input{
                    position: relative;
                    width: 100%;
                    font-size:17px;
                    color:$c-DoveGray;
                    font-weight:500;
                    background-color:$c-white;
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-align:center;
                        -ms-flex-align:center;
                            align-items:center;
                    border-right:5px solid $c-SelectiveYellow;
                    svg{
                        margin: -9px 15px;
                    }
                    // KALENDARZ
                    .date-calendar{
                        position: absolute;
                        top: 74px;
                        width: 251%;
                        right: -244px;
                        height: auto;
                        .react-calendar{
                            height: 365px;
                            
                            .react-calendar__viewContainer{
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;

                                .react-calendar__month-view{
                                    margin: 10px;
                                    .react-calendar__month-view__weekdays__weekday{
                                        color: $c-Boulder2;
                                        font-weight: 600;
                                    }
                                }                               
                                .react-calendar__tile:hover{
                                    background-color: $c-Concrete;
                                    border-radius: 0;color: $c-black;
                                }
                                .react-calendar__tile--range{
                                    background-color: $c-Concrete;
                                    border-radius: 0;
                                    color: $c-black;
                                }
                                .react-calendar__tile--range:hover{
                                    background-color: $c-silver;
                                    border-radius: 0;
                                    color: $c-black;
                                }
                                .react-calendar__tile--rangeStart{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeEnd{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeStart:hover{
                                    background-color:$c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeEnd:hover{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeBothEnds{
                                    border-radius: 0;
                                }
                                .react-calendar__month-view__days__day--neighboringMonth{
                                    background-color: $c-white;
                                    color: $c-white;
                                    
                                }
                                .react-calendar__month-view__days__day--neighboringMonth:hover{
                                    background-color: $c-white;
                                    color: $c-white;
                                    
                                }
                            }
                        }
                    }
                }
                .from-where{
                    width:35%;
                    position: relative;
                    .text{
                        line-height: 56px;
                        width: 100%;
                        .text{
                            margin-left: 30px;
                        }
                    }
                    .svg{
                        position: absolute;
                        left: -35px;
                        top:43%;
                        background: $c-white;
                    }
                    
                }
                .to-where{
                    padding-left:35px;
                    width:35%;
                    position:relative;
                    .text{
                        line-height: 56px;
                        width: 100%;
                    }
                    
                    svg{
                        background-color:$c-white;
                        position:absolute;
                        left:-35px;
                        top:25px;
                    }
                }
                
                .when{
                    width:25%;
                }
                .el{
                    background-color: $c-white;
                    border: 1px solid $c-SelectiveYellow;
                    padding:20px;
                    svg{
                        margin: 5px;
                    }
                }
                .button{
                    font-size:20px;
                    padding:20px 40px;
                    border:none;
                    background-color:$c-Lochmara;
                    border-radius:3px;
                    color:$c-white;
                }
            }
            .checkbox{
                width: 246px;
                margin-top: 30px;
                color:$c-Boulder2;
                font-size: 18px;
                font-weight: 450;
                label{
                    svg{
                        margin-left:5px;
                    }
                }
            }
        }
    }
    
}

.DownContentF{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 0 40px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:row;
    margin: 0 auto;
    max-width:1310px;
    .el{
        width: 33%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        
        .el-icon{
            padding: 10px;
        }
        .el-text{
            padding: 10px 20px 20px 20px;
            
        }
        .el-title{
            font-weight: 600;
            font-size: 20px;
        }
        .el-subtitle{
            font-weight: 500;
            color:$c-DoveGray;
            font-size: 18px;
        }
    }
    
}

.subfoter{
    width: 100%;
    background-color: $c-ResolutionBlue;
    color: $c-white;
    

    .subfooter-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 0 auto;
        max-width: 1310px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .subfooter-list__el{
        margin: 25px 15px;
        font-size:18px;
        .link{
            color: $c-white;
            text-decoration: underline;
        }
    }
    
}



.popUp{
    z-index: 2;
    position: absolute;
    left:15px;
    width: 600px;
    height: 100px;
    background-color: $c-white;
    -webkit-box-shadow: 0 2px 8px $c-SilverChalice;
            box-shadow: 0 2px 8px $c-SilverChalice;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    input{
        padding-left: 20px;
        width: 92%;
        height: 55%;
        border-radius: 5px;
        border: 1px solid $c-black;
    }

    input:focus{
        padding-left: 18px;
        border: 3px solid $c-Lochmara;
    }
}
