
.Hadvice{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 50px auto 0;
    max-width: 1310px;
    border: 1px solid $c-Mercury;
    border-radius: 10px;
    .Hadivce-icon__wrapper{
        padding: 19px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        .icon-background{
            padding: 16px;
            background-color: $c-PeachCream;
            border-radius: 11px;
            margin-right: 14px;
        }
    }
    .Hadivce-icon__text{
        width: 106%;
        max-width: 900px;
        height: 48px;
        .text{
            width: 100%;
            max-width: 1160px;
            font-size: 18px;
            font-weight: 500;
            color: $c-Boulder2;
        }
    }
}
