.Biuletyn{
    padding: 50px 0;
    background-color: $c-PrussianBlue;
    color:$c-white;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .Biuletyn-title{
        margin: 0 auto;
        h2{
            font-weight:400;
        }
    }
    .Biuletyn-form{
        .Biuetyn-text{
            margin: -20px 0 30px;
            color: $c-SilverChalice;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
        input[type=email]{
            font-size: 20px;
            line-height: 28px;
            color: $c-DoveGray;
            border: 0;
            border-radius: 3px;
            font-weight: 100;
            padding: 15px;
            width: 70%;
        }

        input[type=checkbox]{
            margin-right: 5px;
        }

        .form-button{
            margin-left: 3px;
            line-height: 28px;
            font-size: 20px;
            padding:15px;
            font-weight: 400;
            background: $c-Lochmara;
            border: none;
            border-radius: 2px;
            color: $c-white;
        }
        .checkbox-container{
            padding-top: 10px;
        }
    }
}
