.Carousel3{
    padding-top: 50px;
    margin: 0 auto;
    max-width:1300px;
    .Carousel3-list{
        .house{
            min-width: 300px;
            margin: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            img{
                cursor: pointer;
            }
            .house-name{
                cursor: pointer;
                font-size: 17px;
                padding: 5px 0;
                font-weight: 450;

            }
            .house-location{
                cursor: pointer;
                font-size: 17px;
                color: $c-grey;
                font-weight: 450;
            }
            .house-prices{
                cursor: pointer;
                padding: 15px 0 5px;
                font-size: 17px;
                font-weight: 700;
            }
            .house-Op{
                padding: 10px 0 5px;
                .house-score{
                    font-size: 18px;
                    padding: 8px 4px;
                    border-radius: 5px;
                    background-color: $c-ResolutionBlue;
                    color: $c-white;
                }
                .house-desc{
                    padding-left: 5px;

                }
                .house-opinions{
                    padding-left: 5px;
                    color: $c-grey;
                    font-weight: 450;
                }
            }
        }
    }

}