.Carousel1{
    padding-top: 50px;
    margin: 0 auto;
    max-width:1300px;
    .Carousel-list{
        .Cath{
            padding: 8px;
            img{
                height: 250px !important;
                width: 100%;
            }
        }
        .Cath-elements{
            cursor: pointer;
            p{
                color: $c-DoveGray;
                font-weight: 500;
            }
        }
    }
}