.Cities{
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1300px;
    .Cities-list{
        .city{
            margin: 10px;
            .city-img{
                cursor: pointer;
            }
            .city-img__data{
             height: 220px;
             position: relative;
             .city-name{
                position: absolute;
                color: $c-white;
                font-weight: 800;
                font-size: 20px;
                bottom: 40px;
                left: 10px;
             }
             .city-country{
                font-weight: 500;
                position: absolute;
                color: $c-white;
                font-size: 18px;
                bottom: 15px;
                left: 10px;
             }
            }

            .city-obj__wrapper{
                font-weight: 400;
                line-height: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                .city-obj__list{
                    font-size: 18px;
                    padding-top: 15px;
                    -o-text-overflow: ellipsis;
                       text-overflow: ellipsis;
                    overflow: hidden;
                    .obj{
                        width: 100%;
                        padding: 1px;
                        margin-right: 10px;
                    }
                }
            }
        }


    }
}