
.DiscoverH{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1300px;
    .DiscoverH-title{
        h3{
            font-size:32px;
        }
    }
    .DiscoverH-bar{
        .DiscoverH-bar__list{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
                -ms-flex-direction:row;
                    flex-direction:row;
            -webkit-box-pack:end;
                -ms-flex-pack:end;
                    justify-content:flex-end;
            .list-el{
                padding:5px 10px;
                background-color:$c-grey;
                margin:2px;
                color:$c-white;
                cursor:pointer;
                
            }
            .list-el.active{
                background-color:$c-Lochmara;
            }
            .list-more{
                padding:5px 10px;
                font-size:20px;
                font-weight:450;
                cursor:pointer;
            }
            .list-more:hover{
                color:$c-Indochine;
            }
        }
    }
    .DiscoverH-list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -ms-flex-wrap:nowrap;
            flex-wrap:nowrap;
        padding: 20px 0;
        -webkit-box-pack:justify;
            -ms-flex-pack:justify;
                justify-content:space-between;
        .Link{
            width:19.5%;
            .DiscoverH-list__el{
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                img{
                    width:100%
                }
                .city-name{
                    text-align: center;
                }
            }
        }
        
    }
}