.bui-header{
    background: $c-ResolutionBlue;
    color: $c-white;
}

.bui-header__bar{
    
    -webkit-box-pack: justify;
    
        -ms-flex-pack: justify;
    
            justify-content: space-between;
    padding: 8px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.bui-header__main{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 16px 8px 0;

}

.bui-header__logo{

}

.bk-icon{
    vertical-align: middle;
    max-width: 256px;
    max-height: 256px;
    overflow: hidden;
}

.bui-group{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bui-group__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid $c-white;
    button{
        border:none;
    }

    
    .bui-group__PLN{
        background-color: transparent;
        border: none;
        color: $c-white;
    }
    .bui-group__country{
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        
        img{
            margin-top:8px;
            height: 30px;
            border-radius: 50%;
        }
    }
    .bui-group__questionMark{
        width: 50px;
        background: none;
        border: none;
        
    }
    .bui-group__listProperty{
        font-size: 18px;
        color: $c-white;
        height: 100%;
        border: 1px solid $c-white;
        background-color: transparent;
    }
    .bui-group__Register{
        height: 100%;
        color: $c-Lochmara;
        background-color: $c-white;
    }
    .bui-group__SignIn{
        height: 100%;
        color: $c-Lochmara;
        background-color: $c-white;
    }

}

.bui-header__tab{
    padding-top: 50px;
    margin: 0 auto;
    width: 56%;
    min-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .bui-item__container{
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        li{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 10px;
            :hover{
                background-color: $c-Lochmara;
            }
            font-size: 18px;
            list-style: none;
            color: $c-white;
            .bui-tab__item{
                .bui-tab__text{
                    color: $c-white;
                }
            }
        }
    }
}



.link{
    color: $c-white;
}

.link-active{
    border-bottom: 1px solid $c-white;
}




@media (min-width: 992px){
    .bui-header--logo-large .bui-header__logo img, .bui-header--logo-large .bui-header__logo svg {
        height: 24px;
    }
}