.FavPlacesH{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1300px;
    .FavPlacesH-title{
        h3{
            font-size:28px;
        }
    }
    .FavPlacesH-bar{
        .FavPlacesH-bar__list{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
                -ms-flex-direction:row;
                    flex-direction:row;
            border-bottom:1px solid $c-Lochmara;
            div{
                button{
                    padding:12px 18px;
                    border:none;
                    background-color:$c-white;
                    cursor:pointer;
                    color: $c-SilverChalice;
                    font-size:17px;
                }
                button.active{
                    color:$c-white;
                    background-color:$c-Lochmara;
                }
            }
        }
    }
    .FavPlacesH-list{

        display:-webkit-box;

        display:-ms-flexbox;

        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        padding-bottom:40px;
        .FavPlacesH-list__el{
            width:20%;
            padding:15px 0;
            font-size:17px;
            cursor:pointer;
            .el-name{
                color:$c-Lochmara;
                font-weight:500;
                font-size:18px;
            }.el-name:hover{
                color:$c-Indochine;
            }
            
            .el-objects{
                color:$c-grey;
                font-weight:450;
            }
        }
    }
}