.GetContactWithOthers{
    padding-top: 50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1310px;
    .GCWO-list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    .GCWO-list__el{
        margin: 5px;
        img{
            cursor: pointer;
        }
            .el-title{
                cursor: pointer;
                font-size: 18px;
                padding: 5px 0;
            }

            .el-travelersNum{
                font-size: 17px;
                    color: $c-grey;
                    font-weight: 450;
                    padding: 2px 0;
            }

            .el-subtitle{
                cursor: pointer;
                font-size: 17px;
                    color: $c-grey;
                    font-weight: 450;
                    padding: 2px 0;
            }
        }
            
    }
}