
.mainContainerIO{
    padding-top: 50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin: 0 auto;
    max-width:1310px;
    
    .upperContentIO{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;

        %transform{
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }


        .upperContentIO-pic1:hover .pic1, .upperContentIO-pic1:focus .pic1 {
            @extend %transform;
        }
        .upperContentIO-pic1:hover .pic2, .upperContentIO-pic1:focus .pic2 {
            @extend %transform;
        }
        .upperContentIO-pic1:hover .pic3, .upperContentIO-pic1:focus .pic3 {
            @extend %transform;
        }

        .upperContentIO-pic1:hover .pic4, .upperContentIO-pic1:focus .pic4 {
            @extend %transform;
        }
        .upperContentIO-pic1:hover .pic5, .upperContentIO-pic1:focus .pic5 {
            @extend %transform;
        }


        .upperContentIO-pic1{
            margin: 10px;
            width: 50%;
            height: 390px;
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;

            %background{
                transition: all .5s;
                background-size: cover;
                background-repeat: no-repeat;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                width: 100%;
                height: 100%;
            }
            .pic1{
                @extend %background;
                background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, rgba(0,0,0,0.00)),to(#000)), url("https://cf.bstatic.com/xdata/images/xphoto/720x405/111367150.webp?k=9c796f631dce3f940ee746afcbd58d12d7d30077349e84bdb73f89fe7de20819&o= ") no-repeat ;
                background: -o-linear-gradient(top,rgba(0,0,0,0.00) 60%,#000 100%), url("https://cf.bstatic.com/xdata/images/xphoto/720x405/111367150.webp?k=9c796f631dce3f940ee746afcbd58d12d7d30077349e84bdb73f89fe7de20819&o= ") no-repeat ;
                background: linear-gradient(-180deg,rgba(0,0,0,0.00) 60%,#000 100%), url("https://cf.bstatic.com/xdata/images/xphoto/720x405/111367150.webp?k=9c796f631dce3f940ee746afcbd58d12d7d30077349e84bdb73f89fe7de20819&o= ") no-repeat ;
                background-size: 100% 100%;
            }
            .pic2{
                @extend %background;
                background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, rgba(0,0,0,0.00)),to(#000)),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/37680501.webp?k=ec4d8ece0cc3547af25f33f1ad879751936a27b3952e1ddb3036be48438efcd6&o= ") no-repeat ;
                background: -o-linear-gradient(top,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/37680501.webp?k=ec4d8ece0cc3547af25f33f1ad879751936a27b3952e1ddb3036be48438efcd6&o= ") no-repeat ;
                background: linear-gradient(-180deg,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/37680501.webp?k=ec4d8ece0cc3547af25f33f1ad879751936a27b3952e1ddb3036be48438efcd6&o= ") no-repeat ;
                
            }
            .pic3{
                @extend %background;
                background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, rgba(0,0,0,0.00)),to(#000)),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/116099712.webp?k=b7fa9c665459dba1a8bf2a2d67b75feba8e9ec94436f2a140c1e0ef358c88f20&o=") no-repeat ;
                background: -o-linear-gradient(top,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/116099712.webp?k=b7fa9c665459dba1a8bf2a2d67b75feba8e9ec94436f2a140c1e0ef358c88f20&o=") no-repeat ;
                background: linear-gradient(-180deg,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/116099712.webp?k=b7fa9c665459dba1a8bf2a2d67b75feba8e9ec94436f2a140c1e0ef358c88f20&o=") no-repeat ;
                
            }
            .pic4{
                background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, rgba(0,0,0,0.00)),to(#000)),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/23277800.webp?k=937be7b50e2d6082f5e4da748463e7243474c68dffb82142613c0838f40f7b3e&o= ") no-repeat ;
                background: -o-linear-gradient(top,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/23277800.webp?k=937be7b50e2d6082f5e4da748463e7243474c68dffb82142613c0838f40f7b3e&o= ") no-repeat ;
                background: linear-gradient(-180deg,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/540x405/23277800.webp?k=937be7b50e2d6082f5e4da748463e7243474c68dffb82142613c0838f40f7b3e&o= ") no-repeat ;
                transition: all .5s;
                background-size: cover;
                background-repeat: no-repeat;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                width: 100%;
                height: 100%;
            }
            .pic5{
                @extend %background;
                background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, rgba(0,0,0,0.00)),to(#000)),url("https://cf.bstatic.com/xdata/images/xphoto/720x405/94160112.webp?k=511285b8c22d68430160352b01a32273de7b00beb2ddaba26ea6ba553bc9dd24&o= ") no-repeat ;
                background: -o-linear-gradient(top,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/720x405/94160112.webp?k=511285b8c22d68430160352b01a32273de7b00beb2ddaba26ea6ba553bc9dd24&o= ") no-repeat ;
                background: linear-gradient(-180deg,rgba(0,0,0,0.00) 60%,#000 100%),url("https://cf.bstatic.com/xdata/images/xphoto/720x405/94160112.webp?k=511285b8c22d68430160352b01a32273de7b00beb2ddaba26ea6ba553bc9dd24&o= ") no-repeat ;
            }
            
            img{
                width: 100%;
                height: 100%;
                
            }
            .Io-desc__city{
                text-shadow: 1px 1px 1px $c-black;
                bottom: 20px;
                left: 12px;
                position: absolute;
                color:$c-white;
                .Io-desc__cityUp{
                    padding-right: 10px;
                    height: 80px;
                    font-size: 24px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    justify-items: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: left;
                    img{
                        
                        margin:5px 0 0 5px;
                        top: 10px;
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        margin: 5px 0 0 0;
                    }
                }
            }
            
        }
        
    }
}


