.mainContainerPO{
    padding-top: 50px;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    max-width:1310px;
    .upperContentPO{
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;

        %transform{
            -ms-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }


        .upperContentPO-pic1:hover .pic1, .upperContentPO-pic1:hover .pic1 {
            @extend %transform;
        }
        .upperContentPO-pic1:hover .pic2, .upperContentPO-pic1:focus .pic2 {
            @extend %transform;
        }
        .upperContentPO-pic1:hover .pic3, .upperContentPO-pic1:focus .pic3 {
            @extend %transform;
        }

        .upperContentPO-pic1:hover .pic4, .upperContentPO-pic1:focus .pic4 {
            @extend %transform;
        }
        .upperContentPO-pic1:hover .pic5, .upperContentPO-pic1:focus .pic5 {
            @extend %transform;
        }
             
        // .upperContentPO-pic1:hover{
        //     outline: 1px solid  #febb02;
        //     cursor: pointer;
            
        // }


        
        .upperContentPO-pic1{
            cursor: pointer;
            margin: 10px;
            width: 49%;
            height: 320px;
            position: relative;
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            
            %background{
                transition: all .5s;
                background-size: cover;
                background-repeat: no-repeat;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                width: 100%;
                height: 100%;
            }
    
            .pic1{
                @extend %background;
                background: linear-gradient(to bottom,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 30%),url("https://cf.bstatic.com/xdata/images/city/540x270/652865.webp?k=648b949fb883d9c31a7e4b3ed42ae6154867bd7621e8f63aa4a4c25f6a0de380&o=") no-repeat ;
                background-size: 100% 100%;
            }
            .pic2{
                @extend %background;
                background: linear-gradient(to bottom,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 30%),url("https://cf.bstatic.com/xdata/images/city/540x270/653007.webp?k=e3c2f699c4314da1e0cd08fb80ff8cd77b4ea1cdf5f5bc79f5bfe62df0cbdb44&o=") no-repeat ;
                background-size: 100% 100%;
            }
            .pic3{
                @extend %background;
                background: linear-gradient(to bottom,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 30%),url("https://cf.bstatic.com/xdata/images/city/540x270/837292.webp?k=9293cf5c590443607202da7ddd474ca6e9c997380cd99ce02744b6679a5a4074&o=") no-repeat ;
                background-size: 100% 100%;
            }
            .pic4{
                @extend %background;
                background: linear-gradient(to bottom,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 30%),url("https://cf.bstatic.com/xdata/images/city/540x270/653088.webp?k=76bd7bed43629bbe011d168b869d69b80e1e550cdd80b0fa4b5629ee481116ea&o=") no-repeat ;
                background-size: 100% 100%;
            }
            .pic5{
                @extend %background;
                background: linear-gradient(to bottom,rgba(0,27,65,0.65) 0,rgba(0,27,65,0) 30%),url("https://cf.bstatic.com/xdata/images/city/540x270/972790.webp?k=169b38f78038e54b9bb08e1ae7cc754acf0e189247305edd2ec353bf97d545b8&o=") no-repeat ;
                background-size: 100% 100%;
            }

            img{
                width: 100%;
                height: 100%;
                
            }
            .Po-desc__city{
                text-shadow: 1px 1px 1px $c-black;
                top: 12px;
                left: 12px;
                position: absolute;
                color:$c-white;
                .Po-desc__cityUp{
                    height: 70px;
                    font-size: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: center;
                    text-align: center;
                    img{
                        
                        margin:5px 0 0 5px;
                        top: 10px;
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        margin: 5px 0 0 0;
                    }
                }
            }
            .PO-avg__price{
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: $c-white;
                background-color: $c-Boulder2;
                align-items: center;
                text-align: right;
                padding: 10px;
                height: 60px;
                .PO-avg__priceP{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }
            
        }
        
    }
}