.searchBarH{
    background-color: $c-white;

    .searchBarH-wrapper{
        margin: 0 auto;
        width:100%;
        max-width:1320px;
        padding-bottom: 50px;
        .searchBarH-title{
            padding-top: 50px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            color: $c-Boulder2;
            .title{
                font-size: 30px;
                color: $c-Boulder2;
            }
            .subtitle{
                font-weight: 450;
                font-size: 18px;
                margin-top: -24px;
                color: $c-Boulder2;
            }
        }
        
        .searchBarH-form{
            .checkbox{
                margin-top: 20px;
                width: 200px;
                .container{
                    display: flex;
                    align-items: center;
                    color: $c-Boulder2;
                    .checkmark{
                        border-radius: 2px;
                        border-color:$c-silver;
                    }
                    .text{
                        margin-top: 5px;
                        font-weight: 450;
                    }
                }
            }

            .searchBarH-bar{
                box-shadow: 0 2px 8px $c-SilverChalice;
                margin-top:20px;
                background-color: $c-SelectiveYellow;
                width:100%;
                border-radius:3px;
                border:5px solid $c-SelectiveYellow;
                display:flex;

                .where-to{
                    background-clip: padding-box;
                    position: relative;
                    box-sizing: border-box;
                    button{
                        background-color: $c-white;
                        border: none;
                        position: absolute;
                        right: 0;
                        height: 100%;
                        width: 50px;
                    }
                    .banner{
                        position: absolute;
                        top: 100%;
                        left: -1px;
                        width: 386px;
                        background: $c-BrightRed;
                        color: $c-white;
                        padding: 4px 8px;
                        margin-bottom: -12px;
                        border-radius: 2px;
                        margin-left: 8px;
                        z-index: 1;
                        font-size: 12px;
                        line-height: 26px;
                        margin-top: -12px;
                        white-space: normal;
                        font-weight: 500;
                        font-size: 15px;
                        .banner-el{
                            top: -4px;
                            left: 1px;
                            position: absolute;
                            border: solid $c-BrightRed;
                            border-width: 0 10px 10px 0;
                            transform: rotate(45deg);
                        }
                    }
                    span{
                        margin: 0 18px;
                    }
                    display:flex;
                    background-color:$c-white;
                    border-right:5px solid $c-SelectiveYellow;
                    align-items:center;
                    justify-content:center;
                    width:47%;
                   
                    input{
                        opacity: 100%;
                        font-size:18px;
                        font-weight:500;
                        border:none;
                        width:100%;
                        height: 100%;
                        padding-left: 50px;
                        background-position: left 17px top 50%;
                        background-repeat: no-repeat;
                        background-image: url("https://cf.bstatic.com/static/img/cross_product_index/accommodation/07ca5cacc9d77a7b50ca3c424ecd606114d9be75.svg");
                    }
                    input:focus{
                        outline:1px solid $c-PirateGold;
                    }
                    input:hover{
                        outline:1px solid $c-PirateGold;
                    }
                    input::placeholder{
                        color: $c-black !important;
                        font-weight: 500;
                        opacity: 1;
                    }
                    input:focus::placeholder {
                        color: $c-Boulder;
                        opacity: 0.4;
                    }
                }
                .date{
                    width:40%;
                    display:flex;
                    flex-direction:row;
                    border-right:5px solid $c-SelectiveYellow;
                        .date-data:hover{
                            outline:1px solid $c-PirateGold;
                        }
                        .date-data{
                            cursor: pointer;
                            position: relative;
                            
                            .date-calendar{
                                position: absolute;
                                top: 74px;
                                width: 200%;
                                left:0;
                                height: auto;
                                z-index: 3;
                                .react-calendar{
                                    height: 400px;
                                    
                                    .react-calendar__viewContainer{
                                        display: flex;
        
                                        .react-calendar__month-view{
                                            margin: 10px;
                                            .react-calendar__month-view__weekdays__weekday{
                                                color: $c-Boulder2;
                                                font-weight: 600;
                                            }
                                        }                               
                                        .react-calendar__tile:hover{
                                            background-color: $c-Concrete;
                                            border-radius: 0;color: $c-black;
                                        }
                                        .react-calendar__tile--range{
                                            background-color: $c-Concrete;
                                            border-radius: 0;
                                            color: $c-black;
                                        }
                                        .react-calendar__tile--range:hover{
                                            background-color: $c-silver;
                                            border-radius: 0;
                                            color: $c-black;
                                        }
                                        .react-calendar__tile--rangeStart{
                                            background-color: $c-Lochmara;
                                            border-radius: 0;
                                            color: $c-white;
                                        }
                                        .react-calendar__tile--rangeEnd{
                                            background-color: $c-Lochmara;
                                            border-radius: 0;
                                            color: $c-white;
                                        }
                                        .react-calendar__tile--rangeStart:hover{
                                            background-color: $c-Lochmara;
                                            border-radius: 0;
                                            color: $c-white;
                                        }
                                        .react-calendar__tile--rangeEnd:hover{
                                            background-color: $c-Lochmara;
                                            border-radius: 0;
                                            color: $c-white;
                                        }
                                        .react-calendar__tile--rangeBothEnds{
                                            border-radius: 0;
                                        }
                                        .react-calendar__month-view__days__day--neighboringMonth{
                                            background-color: $c-white;
                                            color: $c-white;
                                            
                                        }
                                        .react-calendar__month-view__days__day--neighboringMonth:hover{
                                            background-color: $c-white;
                                            color: $c-white;
                                            
                                        }

                                        
                                    }
                                }
                            }
                            margin:0 auto;
                            text-align:center;
                            width:100%;
                            height:100%;
                            background-color:$c-white;
                            
                            align-items:center;
                            display:flex;
                            justify-content:center;
                            font-weight:500;
                            font-size:18px;
                            padding-left: 20px;
                            svg{
                                left: 20px;
                                position: absolute;
                            }
                        }
                }
                .people-num:hover{
                    outline:1px solid $c-PirateGold;
                }
                .people{
                    position: relative;
                    width:40%;
                    display:flex;
                    flex-direction:row;
                    border-right:5px solid $c-SelectiveYellow;
                    .people-num{
                        cursor: pointer;
                        margin:0 auto;
                        text-align:center;
                        width:100%;
                        height:100%;
                        background-color:$c-white;
                        align-items:center;
                        display:flex;
                        justify-content:center;
                        font-weight:500;
                        font-size:18px;
                        .arrows{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            right: 30px;
                            position: absolute;
                            .arrow-icon2{
                                transform: rotate(180deg);
                            }
                            .arrow-icon{
                                margin-top: -16px;
                            }
                        }
                        .person-icon{
                            position: absolute;
                            left:20px;
                            top:20px;
                        }
                    }

                    .people-popUp{
                        border-radius: 4px;
                        z-index: 1;
                        position: absolute;
                        background-color: $c-white;
                        display: flex;
                        flex-direction: column;
                        top: 74px;
                        width: 130%;
                        right:4px;
                        box-shadow: 0 2px 8px $c-SilverChalice;
                        .people-popUp__container{
                            padding: 30px 30px 12px;
                            .popUp-row{
                                padding-bottom: 18px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                .text{
                                    display: flex;
                                    flex-direction: column;
                                    color: $c-Boulder2;
                                    .span{
                                        color:$c-grey;
                                        font-weight: 500;
                                    }
                                }
                                .values{
                                    width: 40%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    .minus{
                                        cursor: pointer;
                                        background-color: $c-white;
                                        border: 1px solid $c-Lochmara;
                                        padding: 8px 18px;
                                        color: $c-Lochmara;
                                        font-size: 27px;
                                        font-weight: 350;
                                        border-radius: 2px;
                                    }
                                    .minus:hover{
                                        background-color:$c-Polar;
                                    }
                                    .plus{
                                        cursor: pointer;
                                        background-color: $c-white;
                                        border: 1px solid $c-Lochmara;
                                        padding: 14px 19px;
                                        color: $c-Lochmara;
                                        border-radius: 2px;
                                    }
                                    .plus:hover{
                                        background-color:$c-Polar;
                                    }

                                    .btn{
                                        cursor: not-allowed;
                                        color: $c-SilverChalice;
                                    }
                                }
                            }
                        }
                    }
                }
                .search-btn{
                    font-size:20px;
                    padding:20px 40px;
                    border:none;
                    background-color:$c-Lochmara;
                    border-radius:3px;
                    color:$c-white;
                }
            }

        }
    
        
    }
    
}


@media screen and (max-width: 1370px) {
    .searchBarH-bar{
        flex-direction: column !important;
        .where-to{
            border-right:none !important;
            width: 100% !important;
            height: 68px !important;
            border-bottom: 5px solid $c-SelectiveYellow !important;
        }
        .date{
            border-right:none !important;
            width: 100% !important;
            height: 68px !important;
            border-bottom: 5px solid $c-SelectiveYellow !important;
        }
        .people{
            border-right:none !important;
            width: 100% !important;
            height: 68px !important;
            border-bottom: 5px solid $c-SelectiveYellow !important;
            .people-num{
                justify-content: flex-start !important;
                padding-left: 58px !important;
            }
        }
    }
}