.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 1310px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .copyRights{
        font-size:80%;
        padding:30px;
        color: $c-Boulder2;
        font-weight:500;
    }
    .footer-text{
        text-align: center;
        font-size: 16px;
        padding-top: 0;
        color: $c-DoveGray;
        font-weight:440;
        

    }
    .logos{
        padding-top: 30px;
        width: 90%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        img{
            width:110px;
        }
    }
}