.FooterList{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width:1310px;
    .list-contanier{
        width:20%;
        .list{
            color: $c-Lochmara;
            padding-top: 20px;
            list-style: none;
            font-size: 15px;
            font-weight: 500;
            li{
                cursor: pointer;
            }
            li:hover{
                color:  $c-PirateGold;
            }
        }
    }
    
}