.Header{
    background: $c-ResolutionBlue;
    color: $c-white;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    .Header-wrapper{
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        max-width: 1340px;
        .Header-top{
            padding-top: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            .logo{
                cursor: pointer;
                margin-left: 15px;
            }
            .top-bar{
                max-width: 80%;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
                .top-bar__list{
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    -webkit-box-pack: end;
                        -ms-flex-pack: end;
                            justify-content: flex-end;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                    .margin{
                        margin-right: 10px;
                    }
                    .list-el{
                        .margin-right{
                            margin-right:10px;
                        }
                        button{
                            padding:15px;
                            cursor:pointer;
                            color:$c-white;
                            background-color:transparent;
                            border:none;
                            -webkit-box-align:center;
                                -ms-flex-align:center;
                                    align-items:center;
                            -webkit-box-pack:center;
                                -ms-flex-pack:center;
                                    justify-content:center;
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                            }
                        button:hover{
                            background-color:$c-ResolutionBlue;
                        }
                        .shareobj{
                            border:1px solid $c-white;
                        }
                        .country{
                            background-color: transparent;
                            border: none;
                            max-height:60px;
                            img{
                                margin-top:20px;
                                height: 30px;
                                border-radius: 50%;
                            }
                        }
                        .logreg{
                            border:1px solid $c-Lochmara;
                            background-color:$c-white;
                            color:$c-Lochmara;
                        }
                        .logreg:hover{
                            background-color:$c-Polar;
                        }
                    }
                }
            }
        }
        .Header-bottom{
            padding-top:30px;
            width:96%;
            .Header-bottom__list{
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                -ms-flex-wrap:wrap;
                    flex-wrap:wrap;
                .link-active{
                    border-bottom:2px solid $c-white;
                }
                .el-wrapper{
                    text-decoration:none;
                    .list-el{
                        background-color:transparent;
                        cursor:pointer;
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-orient:horizontal;
                        -webkit-box-direction:normal;
                            -ms-flex-direction:row;
                                flex-direction:row;
                        -webkit-box-align:center;
                            -ms-flex-align:center;
                                align-items:center;
                        border:none;
                        color:$c-white;
                        padding:20px 15px;
                        .list-svg{
                            margin-right:10px;
                        }
                    }
                    .list-el:hover{
                        background-color:$c-ResolutionBlue;
                    }
                    
                }
            }
        }
    }
    
}