
.ShareObj{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.Share-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $c-ResolutionBlue;
    border-bottom: 1px solid $c-TropicalBlue;
    button{
        border: 1px solid $c-white;
        border-radius: 2px;
        background-color: transparent;
        color: $c-white;
        margin: 15px;
        height: 30px;
        width: 150px;
        font-size: 14px;
    }
}

.down-content{
    background-color: $c-ResolutionBlue;
    min-width: 620px;

    .down-content__container{
        padding-top: 20px;
        margin: 0 auto;
        color: $c-white;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 auto;
        max-width:1310px;
        font-size: 20px;
        .btn{
            margin: 5px 0 5px 20px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            padding: 5px 5px 10px 0px;
            text-decoration: underline;
        }
    }
}

.log{
    padding-top: 50px;
    margin: 0 auto;
    width: 55%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: $c-DodgerBlues;
    font-size: 18px;
    .log-btn:hover{
        color: $c-Indochine;
        cursor:pointer;
    }
}