
.displayNone{
    display: none;
}
.react-calendar{
    background: $c-white;
    -webkit-box-shadow: 0 2px 8px $c-Boulder;
            box-shadow: 0 2px 8px $c-Boulder;
    height: 320px;
    font-size: 18px;
    .react-calendar__navigation{
        height: 70px;
    }
}



.react-calendar__month-view__weekdays{
    margin: 0 5px;
    .react-calendar__month-view__weekdays__weekday{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        height: 40px;
        abbr{
            cursor: default;
            border-bottom: none;
            text-decoration: none;
        }
    }
}


.react-calendar__month-view__weekdays__weekday{
    font-weight: 400;
    color: $c-Boulder;
    text-decoration: none;
    border-bottom: none;
    cursor: default;
    border-bottom: 1px solid $c-white;
    abbr{
        border-bottom: none;
    }
}


.react-calendar__month-view__days__day{
    background-color: transparent;
    height: 40px;
}
.react-calendar__month-view__days__day:hover{
    background-color: $c-Lochmara;
    border-radius: 3px;
    color: $c-white;
}

.react-calendar__tile--active{
    background-color: $c-Lochmara;
    border-radius: 3px;
    color: $c-white;
}
abbr{
    border-bottom: none;
}

.react-calendar__month-view__days__day--neighboringMonth{
    color: $c-white;
}
.react-calendar__month-view__days__day--neighboringMonth:hover{
    background-color: $c-white;
    cursor: default;
    abbr{
        cursor: default;
    }
}


.react-calendar__navigation__prev2-button{
    display: none;
}
.react-calendar__navigation__next2-button{
    display: none;
}

.react-calendar__navigation__prev-button{
    color: $c-Lochmara;
    margin-left: 20px;
    background-color: transparent;
    font-size: 45px;
    font-weight: 300;
}
.react-calendar__navigation__next-button{
    color: $c-Lochmara;
    background-color: transparent;
    font-size: 45px;
    font-weight: 300;
    margin-right: 20px;
}

.react-calendar__navigation__label{
    background-color: transparent;
}

button{
    color: $c-black;
}

.react-calendar__month-view__days__day{
    abbr{
        cursor: pointer;
    }
}