.SearchResult{
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    max-width:1310px;

    .current-directory{
        .displayNone{
            display: none;
        }
        .current-directory__el{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            .arrow{
                padding: 0 10px;
            }
            .link2{
                font-weight: 450;
                text-decoration: none;
                color:$c-Lochmara;
            }
            .link2:hover{
                text-decoration: underline;
            }
            .res{
                font-weight: 450;
                color:$c-DoveGray;
            }
        }
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 10px 20px 20px 20px;
        
    }
    .Results{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        .searchForm{
            width: 25%;
            min-width: 280px;
            .form{
                color: $c-Boulder2;
                font-weight: 450;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                background-color:$c-SelectiveYellow;
                padding: 20px;
                border-radius: 3px;
                margin-bottom: 15px;
                .Btraveling{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    position: relative;
                    margin: 15px 0;
                    label{
                        padding-left: 10px;
                        display: inline;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        .text{
                            margin-left: 20px;
                        }
                        .checkmark{
                            height: 19px;
                            width: 19px;
                        }
                    }
                    .container .checkmark:after {
                        font-weight: 300;
                        left: 5px;
                        top: 2px;
                        width: 8px;
                        height: 10px;
                        border: solid $c-white;
                        border-width: 0 1px 1px 0;
                        -webkit-transform: rotate(
                    45deg);
                            -ms-transform: rotate(
                    45deg);
                                transform: rotate(
                    45deg);
                    }
                    svg{
                        position: absolute;
                        right: 0;
                    }
                }

                .form-title{
                    font-size: 25px;
                    margin-bottom: 5px;
                    font-weight: 650;
                }

                .stay-time{
                    height: 25px;
                }
                .form-input{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    width: 100%;
                    margin-bottom: 10px;
                    position: relative;
                    .date-calendar{
                        position: absolute;
                        top: 67px;
                        width: 240%;
                        left: 0;
                        height: auto;
                        z-index: 3;
                        .react-calendar{
                            height: 400px;
                            border-radius: 4px;
                            .react-calendar__viewContainer{
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;

                                .react-calendar__month-view{
                                    margin: 10px;
                                    .react-calendar__month-view__weekdays__weekday{
                                        color: $c-Boulder2;
                                        font-weight: 600;
                                    }
                                }                               
                                .react-calendar__tile:hover{
                                    background-color: $c-Concrete;
                                    border-radius: 0;color: $c-black;
                                }
                                .react-calendar__tile--range{
                                    background-color: $c-Concrete;
                                    border-radius: 0;
                                    color: $c-black;
                                }
                                .react-calendar__tile--range:hover{
                                    background-color: #e8e5e5;
                                    border-radius: 0;
                                    color: $c-black;
                                }
                                .react-calendar__tile--rangeStart{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeEnd{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeStart:hover{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeEnd:hover{
                                    background-color: $c-Lochmara;
                                    border-radius: 0;
                                    color: $c-white;
                                }
                                .react-calendar__tile--rangeBothEnds{
                                    border-radius: 0;
                                }
                                .react-calendar__month-view__days__day--neighboringMonth{
                                    background-color: $c-white;
                                    color: $c-white;
                                    
                                }
                                .react-calendar__month-view__days__day--neighboringMonth:hover{
                                    background-color: $c-white;
                                    color: $c-white;
                                    
                                }
                            }
                        }
                    }
                    .place{
                        position: relative;
                        width: 100%;
                        background-color: $c-white;
                        height: 45px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        -webkit-box-pack: end;
                            -ms-flex-pack: end;
                                justify-content: flex-end;
                        border-radius: 3px;
                        input{
                            width: 85%;
                            border-radius: 3px;
                            border: 1px solid  $c-white;
                        }
                        svg{
                            position: absolute;
                            left: 8px;
                            top:10px;
                        }
                    }
                    .date{
                        position: relative;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        height: 45px;
                        width: 100%;
                        background-color:  $c-white;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        -ms-flex-pack: distribute;
                            justify-content: space-around;
                        border-radius: 3px;
                        .UTCdays{
                            width: 15px;
                            position: absolute;
                            left: 14px;
                            top: 21px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            .val{
                                font-size: 10px;
                            }
                        }
                        .svg1{
                            position: absolute;
                            left: 10px;
                        }
                        .text{
                            position: absolute;
                            top:14px;
                            left:40px;
                            display: inline-block;
                            width: 180px;
                            white-space: nowrap;
                            overflow: hidden !important;
                            -o-text-overflow: ellipsis;
                               text-overflow: ellipsis;
                        }
                        .svg2{
                            position: absolute;
                            right: 10px;
                        }

                    }
                    
                    .kidsrooms{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                                flex-direction: row;
                        width: 100%;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                        .select{
                            background-color: $c-white;
                            width: 49%;
                            font-weight: 450;
                            min-width: 64px;
                            border: 1px solid  $c-white;
                            border-radius: 3px;
                            background-color:  $c-white;
                            background-position: right 5px top 50%;
                            background-repeat: no-repeat;
                            background-size: 16px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='20' height='20'%3E%3Cpath fill='%23383838' d='M92 52a4 4 0 0 1-2.8-1.2L64 25.7 38.8 50.8a4 4 0 0 1-5.6-5.6L64 14.3l30.8 30.9A4 4 0 0 1 92 52zm0 24a4 4 0 0 0-2.8 1.2L64 102.3 38.8 77.2a4 4 0 0 0-5.6 5.6L64 113.7l30.8-30.9A4 4 0 0 0 92 76z'/%3E%3C/svg%3E");
                            select::-ms-expand {
                                display: none;
                            }
                            select{
                                background-color: transparent;
                                -moz-appearance:none; /* Firefox */
                                -webkit-appearance:none; /* Safari and Chrome */
                                appearance:none;
                                width: 100%;
                                height: 45px;
                                padding-left:10px;
                                border-radius: 3px;
                                border-color:  $c-white;
                            }
                        }
                    }
                    .adults{
                        background-size: 16px;
                        width: 100%;
                        font-weight: 450;
                        margin: 10px 12px 5px 0px;
                        min-width: 64px;
                        border: 1px solid  $c-white;
                        border-radius: 3px;
                        background-color:  $c-white;
                        background-position: right 5px top 50%;
                        background-repeat: no-repeat;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='20' height='20'%3E%3Cpath fill='%23383838' d='M92 52a4 4 0 0 1-2.8-1.2L64 25.7 38.8 50.8a4 4 0 0 1-5.6-5.6L64 14.3l30.8 30.9A4 4 0 0 1 92 52zm0 24a4 4 0 0 0-2.8 1.2L64 102.3 38.8 77.2a4 4 0 0 0-5.6 5.6L64 113.7l30.8-30.9A4 4 0 0 0 92 76z'/%3E%3C/svg%3E");
                        select::-ms-expand {
                            display: none;
                        }
                        select{
                            background-color: transparent;
                            -moz-appearance:none; /* Firefox */
                            -webkit-appearance:none; /* Safari and Chrome */
                            appearance:none;
                            width: 100%;
                            height: 45px;
                            padding-left:10px;
                            border-radius: 3px;
                            border-color:  $c-white;
                        }
                    }
                    
                }
                .search-btn{
                    padding: 15px;
                    font-size: 20px;
                    color:  $c-white;
                    width: 100%;
                    border: none;
                    border-radius: 2px;
                    background-color: $c-Lochmara;
                }
                .input{
                    margin: 10px 0;
                }
            }
                
        }
        .filters{
            border: 1px solid $c-silver;
            border-bottom: none;
            margin-bottom: 100px;
            .filters-title{
                font-size: 19px;
                padding: 19px;
                border-bottom:1px solid $c-silver;
            }
            .filter-text{
                padding: 19px;
                font-size: 16px;
                border-bottom: 1px solid $c-silver;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;

                &__title{
                    padding-bottom: 10px;
                }
                .checkbox{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                    text-align: center;
                    line-height: 30px;
                    color: $c-Boulder2;
                    font-size: 16px;
                    font-weight: 450;
                    position: relative;
                    .length{
                        position: absolute;
                        right: -5px;
                        color:$c-DoveGray;
                    }
                }
            }
            .filters-cath{

                font-size: 18px;
                padding:  20px 20px 5px;
                border-bottom:1px solid $c-silver;
                ul{
                    list-style: none;
                    margin: 0;
                    li{
                        font-size: 16px;
                        font-weight: 450;
                        position: relative;
                        span{
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
    }



    .Results-list{
        margin: 20px;
        width: 75%; 
        .Results-title{
            height: 100px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            position: relative;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            h2{
                padding-top: 20px;
            }
            .map-btn{
                height: 90px;
                right: 0;
                position: absolute;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background: url(//cf.bstatic.com/static/img/map/map-entry-point/7813a559b03ef30ba107ca5224172615a210e416.png) no-repeat;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                button{
                    font-size: 18px;
                    margin: 24px 16px;
                    padding: 10px 15px;
                    height: 40px;
                    border: none;
                    background-color: $c-Lochmara;
                    color:  $c-white;
                    
                }
            }
        }
    }
    .Results-categories{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        color: $c-Lochmara;
        border: 1px solid $c-Lochmara;
        margin-top: 20px;
        .Cath{
            border-right:1px solid $c-Lochmara;
            cursor: pointer;
            padding: 10px 58px;
        }
        .Cath-active{
            background-color: $c-Lochmara;
            color:  $c-white;
            padding: 10px 58px;
        }
        .Cath:hover{
            background-color: $c-Polar;
        }
        .Dots{
            cursor: pointer;
            padding:4px 0 10px;
            margin: 0 auto;
            font-weight: 800;
            font-size: 22px;
        }
        .Dots:hover{
            background-color: $c-Polar;
        }

    }

    .Results-hotels{
        .Results-hotels__list{
            .hotel{
                
                margin: 20px 0 ;
                height: 290px;
                width: 100%;
                padding:20px;
                display:flex;
                flex-direction:row;
                border-radius: 2px;
                position: relative;
                border:1px solid $c-Mercury;
                min-width: 900px;

                .img{
                    position: absolute;
                    width:250px;
                    height:250px;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                .info{
                    padding: 0 10px;
                    position: absolute;
                    width: 47%;
                    left: 280px;

                    .name{
                        font-size:25px;
                        color:$c-Boulder2;
                    }
                    .location{
                        
                        .link3{
                            color:$c-Lochmara;
                            span{
                                font-weight:450;
                                text-decoration:none;
                            }
                        }
                        .km{
                            font-weight:400;
                        }
                    }
                    .desc{
                        width: 45%;
                        position: absolute;
                        margin-top: 20px;
                        height: 60%;
                        font-weight:400;
                    }
                }
                .others{
                    position: absolute;
                    height: 80%;
                    right: 20px;
                    width:220px;

                    .opinions-rate{
                        position: absolute;
                        right: 10px;
                        display:flex;
                        flex-direction:row;
                        .opinions{ 
                            min-width: 150px;
                            font-size:20px;
                            text-align: right;
                            // display:flex;
                            // flex-direction:column;
                            position: absolute;
                            right: 50px;
                            .opinions-number{
                                font-size:15px;
                                font-weight:450;
                                position: absolute;
                                top:25px;
                                right: 0;
                                color: $c-DoveGray;
                            }
                        }

                    }
                    .rate{
                        
                        margin-left:10px;
                        font-size: 18px;
                        padding: 10px 6px;
                        border-radius: 5px;
                        background-color:  $c-RegalBlue;
                        color:  $c-white;
                    }
                    .btn{ 
                        position: absolute;
                        top: 200px;
                        padding:10px 20px;
                        border:none;
                        color: $c-white;
                        background-color:$c-Lochmara;
                    }
                    
                }
            }
        }
    }
}

////////Results pagination

.Results-pagination{
    padding-top: 40px;
    .text{
        font-weight: 400;
        padding-bottom: 20px;
    }
    .pagination-container{
        border:1px solid $c-Mercury;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px;
        .results{
            line-height: 32px;
            font-weight: 500;
            margin-right: 10px;
        }
        .pages{
            .arrow{
                background-color: none;
                margin: 0 5px;
                padding: 5px 10px;
                background-color:  $c-white;
                border-radius: 4px;
                border: 1px solid  $c-white;

            }
            .arrow:hover{
                background-color: $c-Lochmara;
                color:  $c-white;
                border: 1px solid $c-Lochmara;
            }

            .arrow-active{
                cursor: not-allowed;
                background-color: none;
                margin: 0 5px;
                padding: 5px 10px;
                background-color:  $c-white;
                border-radius: 4px;
                border: 1px solid  $c-white;
            }
           
            .page-num{
                color:$c-Lochmara;
                background-color: none;
                margin: 0 5px;
                padding: 5px 10px;
                background-color:  $c-white;
                border-radius: 4px;
                border: 1px solid  $c-white;
            }
            .page-num:hover{
                background-color: $c-Lochmara;
                color: $c-white;
                border: 1px solid $c-Lochmara;
            }
            .page-num__active{
                
                color:$c-DoveGray;
                margin: 0 5px;
                padding: 5px 10px;
                background-color: $c-white;
                border-radius: 4px;
                border: 1px solid $c-DoveGray;
                
            }
        }
        
    }
}

