.taxisForEveryoneAT{
    background: $c-WildSand;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .taxisForEveryoneAT-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        margin: 0 auto;
        max-width:1310px;
        width: 100%;
        .taxisForEveryoneAT-title{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 40px 0;
        }
        .taxisForEveryoneAT-bar{
            width: 100%;
            .taxisForEveryoneAT-bar__container{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                .btn-container{
                    border: 1px solid $c-Lochmara;
                    button{
                        padding: 15px;
                        border: none;
                        background-color: $c-white;
                        color: $c-Lochmara;
                    }
                    button:hover{
                        background-color: $c-Mercury;
                        color: $c-Lochmara;
                        cursor: pointer;
                    }
                }
                .btn-container.active{
                    border: 1px solid $c-Lochmara;
                    button{
                        border: none;
                        background-color: $c-Lochmara;
                        color: $c-white;
                    }
                }
                .border-right{
                    border-right: none;
                }
                .btn-container.toggle{
                    background-color: $c-Lochmara;
                    color: $c-white;
                }
            }
        }
        .taxisForEveryoneAT-context{
            width: 100%;
            max-width: 1310px;
            padding-bottom: 30px;
            .taxis.none{
                display: none;
            }
            .taxis{
                font-weight: 450;
                padding-top: 30px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                .taxi-container{
                    width: 49%;
                    border: 1px solid $c-Mercury;
                    background-color: $c-white;
                    padding: 20px;
                    
                }
                .taxi-container2{
                    width: 32%;
                    border: 1px solid $c-Mercury;
                    background-color: $c-white;
                    padding: 20px;
                    
                }
                .taxi-info{
                    div{
                        margin-top: 10px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        svg{
                            margin-right: 10px;
                        }
                    }
                    :nth-child(3){
                        color: $c-Lochmara;
                    }
                    :nth-child(4){
                        color: $c-Camarone;
                    }
                }
                .search-btn{
                    margin-top: 20px;
                    height: 40px;
                    width: 90px;
                    button{
                        font-size: 18px;
                        border: none;
                        height: 100%;
                        width: 100%;
                        color: $c-white;
                        background-color: $c-Lochmara;
                    }
                    button:hover{
                        background-color: $c-Lochmara;
                    }
                }
            }
        }
    }
    
    
}
