.downerContentAT{

    background-color: $c-WildSand;
        .downerContentAT-info__container{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            margin: 0 auto;
            max-width:1310px;
            .downerContentAT-info{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 40px 20px 40px;
                .icon{
                    margin-right: 20px;
                    border-radius: 100px;
                    padding: 20px;
                    height: 70px;
                }
                .b{
                    background-color: $c-Polar;
                }
                .g{
                    background-color: $c-Feta;
                }
                .o{
                    background-color: $c-PeachCream;
                }
                .desc{
                    .desc-title{
    
                    }
                    .desc-desc{
                        font-weight: 450;
                        margin-top: 5px;
                        color: $c-DoveGray;
                    }
                }
            }
        }
    }