.middleContentAT{
    margin: 0 auto;
    width: 100%;
    max-width: 1310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .middleContentAT-title{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
    }
    .middleContnetAT-container{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        .middleContentAT-img{
            margin: 50px 70px;
            height: 530px;
            img{
                height: 100%;

            }
        }
        .middleContentAT-info{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
                -ms-flex-direction:column;
                    flex-direction:column;

            .middleContentAT-info__single{
                margin-top: 60px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                .img{
                    width: 20%;
                    img{
                        width: 70%;
                        height: 100%;
                    }
                }
                .middleContentAT-info__container{
                    width: 75%;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .middleContentAT-info__title{
                        font-size: 22px;
                    }
                    .middleContentAT-info__desc{
                        padding-top: 20px;
                        width: 560px;
                        color: $c-DoveGray;
                        font-weight: 450;
                        font-size: 17px;
                    }
                }
    
            }
        }
        .howWorks{
    
        }

    }
    
}

@media screen and (max-width: 1200px) {
    .middleContentAT{
        .middleContnetAT-container {
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
                -ms-flex-direction: column !important;
                    flex-direction: column !important;

            .middleContentAT-info {
                margin: 0 auto !important;
            }
            .middleContentAT-img {
                padding-top: 50px !important;
                margin: 0 auto !important;
                padding-bottom: 50px !important;
            }
        }
    }
}