.readMoreAT{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0 80px;
    .readMoreAT-container{
        color: $c-Boulder2;
        max-width:1310px;
        border: 1px solid $c-Mercury;
        border-bottom:none;
        background-color: $c-white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        .findMore{
            border-bottom:1px solid $c-Mercury;
            border-right: 1px solid $c-Mercury;
            background: $c-WildSand;
            -ms-flex-preferred-size: 600px;
                flex-basis: 600px;
            padding: 30px;
            .findMore-desc{
                font-weight: 500;
                font-size: 18px;
            }
            .findMore-link{
                margin-top: -25px;
                .Link{
                    color: $c-Lochmara;
                    font-weight: 740;
                    font-size: 18px;
                }
                .Link:hover{
                    color: $c-Indochine;
                }
            }

        }
        .questions{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 80%;
            .border-bottom{
                border-bottom:1px solid $c-Mercury;
            }
            
            .question-wrapper:hover{
                background-color:$c-white;
            }
            .question-wrapper{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .question-answer{
                    margin:0 10px 0 20px;
                    font-size: 15px;
                    font-weight: 450;
                }
                .question-title{
                    cursor: pointer;
                    padding-left: 20px;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    position: relative;
                    vertical-align: center;
                    min-height: 70px;
                    font-size: 18px;
                    span{
                        right: 15px;
                        position: absolute;
                    }
                }
            }
            .question-wrapper-active{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .question-answer{
                    margin:0 10px 0 20px;
                    font-size: 15px;
                    font-weight: 450;
                }
                .question-title{
                    cursor: pointer;
                    padding-left: 20px;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    position: relative;
                    vertical-align: center;
                    min-height: 70px;
                    font-size: 18px;
                    span{
                    right: 15px;
                    position: absolute;
                    -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                    }
                }
            }
        }
    }
}