.searchBarAT{
    input::-webkit-input-placeholder{
        font-weight: 600;
        color: $c-black !important;
        font-weight: 500;
        opacity: 1;
    }
    input::-moz-placeholder{
        font-weight: 600;
        color: $c-black !important;
        font-weight: 500;
        opacity: 1;
    }
    input:-ms-input-placeholder{
        font-weight: 600;
        color: $c-black !important;
        font-weight: 500;
        opacity: 1;
    }
    input::-ms-input-placeholder{
        font-weight: 600;
        color: $c-black !important;
        font-weight: 500;
        opacity: 1;
    }
    input::placeholder{
        font-weight: 600;
        color: $c-black !important;
        font-weight: 500;
        opacity: 1;
    }
    input:focus::-webkit-input-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus::-moz-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus:-ms-input-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus::-ms-input-placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    input:focus::placeholder {
        color: $c-Boulder;
        opacity: 0.4;
    }
    background-color: $c-WildSand;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 400px;
    .searchBarAT-bar__container{
        background-color:$c-WildSand;
        position: absolute;
        top:15%;
        width:100%;
        padding: 0 30px;
        max-width:1320px;
        .SearchBarAT-wrapper{
            background-color: $c-WildSand;
            max-width:1310px;
            .SearchBarAT-title{
                .title{
                    font-size: 35px;
                    color: $c-Boulder2;
                }
                .subtitle{
                    font-size: 18px;
                    color: $c-Boulder2;
                    font-weight: 550;
                }
            }
            
        .SearchBarAT-bar{
            padding-top:30px;
            .radio-btns{
                color:$c-Boulder2;
                font-size:16px;
                font-weight:450;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                label{
                    margin-right:30px;
                }
                .containerR{
                    line-height: 27px;
                }
                .containerR2{
                    line-height: 27px;
                }
            }
            .search-bar{
                margin-top:20px;
                background-color: $c-SelectiveYellow;
                width:100%;
                border-radius:3px;
                border:5px solid $c-SelectiveYellow;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                .border{
                    border-right:5px solid $c-SelectiveYellow;
                }
                .wrapper{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 60%;
                    .border{
                        border-right:5px solid $c-SelectiveYellow;
                    }
                    .place{
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        background-color:$c-white;
                        -webkit-box-align:center;
                            -ms-flex-align:center;
                                align-items:center;
                        -webkit-box-pack:center;
                            -ms-flex-pack:center;
                                justify-content:center;
                        width:50%;
                        .place-wrapper:focus{
                            outline: 1px solid $c-PirateGold;
                        }
                        .place-wrapper:hover{
                            outline: 1px solid $c-PirateGold;
                        }
                        .place-wrapper{
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        background-color:$c-white;
                        width: 100%;
                        height: 100%;
                        -webkit-box-align:center;
                            -ms-flex-align:center;
                                align-items:center;
                        -webkit-box-pack:center;
                            -ms-flex-pack:center;
                                justify-content:center;
                            span{
                                margin-left: 15px;
                            }
                            
                            input{
                                color: $c-black;
                                font-weight: 450;
                                margin-left: 5px;
                                font-size:18px;
                                font-weight:500;
                                border:none;
                                width:90%;
                                height: 100%;
                            }
    
    
                        }
                    }
                }
                .wrapper2{
                    width: 50%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .date{
                        border-right:5px solid $c-SelectiveYellow;
                        cursor: pointer;
                        position: relative;
                        .date-wrapper:focus{
                            outline: 1px solid $c-PirateGold;
                        }
                        .date-wrapper:hover{
                            outline: 1px solid $c-PirateGold;
                        }
                        .date-wrapper{
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                            background-color:$c-white;
                            width: 100%;
                            height: 100%;
                            -webkit-box-align:center;
                                -ms-flex-align:center;
                                    align-items:center;
                            -webkit-box-pack:center;
                                -ms-flex-pack:center;
                                    justify-content:center;
                        }
                        .Calendar{
                            width: 400px;
                            position: absolute;
                            top:75px;
                        }
                        width:40%;
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-orient:horizontal;
                        -webkit-box-direction:normal;
                            -ms-flex-direction:row;
                                flex-direction:row;
                        .date-data:focus{
                            outline: 1px solid $c-PirateGold;
                        }
                        .date-data{
                            margin:0 auto;
                            text-align:center;
                            width:100%;
                            height:100%;
                            background-color:$c-white;
                            -webkit-box-align:center;
                                -ms-flex-align:center;
                                    align-items:center;
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                            -webkit-box-pack:center;
                                -ms-flex-pack:center;
                                    justify-content:center;
                            font-weight:500;
                            font-size:18px;
                            svg{
                                margin-right:10px;
                            }
                        }
                    }
                    .time{
                        position: relative;
                        cursor: pointer;
                        width:30%;
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-orient:horizontal;
                        -webkit-box-direction:normal;
                            -ms-flex-direction:row;
                                flex-direction:row;
                        border-right:5px solid $c-SelectiveYellow;
                        .time-data:focus{
                            outline: 1px solid $c-PirateGold;
                        }
                        .time-data:hover{
                            outline: 1px solid $c-PirateGold;
                        }
                        .time-data{
                            margin:0 auto;
                            text-align:center;
                            width:100%;
                            height:100%;
                            background-color:$c-white;
                            -webkit-box-align:center;
                                -ms-flex-align:center;
                                    align-items:center;
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                            -webkit-box-pack:center;
                                -ms-flex-pack:center;
                                    justify-content:center;
                            font-weight:500;
                            font-size:18px;
                            svg{
                                margin-right:10px;
                            }
                        }
                    }
                    .people{
                        display:-webkit-box;
                        display:-ms-flexbox;
                        display:flex;
                        -webkit-box-orient:horizontal;
                        -webkit-box-direction:normal;
                            -ms-flex-direction:row;
                                flex-direction:row;
                        width:30%;
                        display:flex;
                        flex-direction:row;
                        .people-num{
                            position: relative;
                            margin:0 auto;
                            text-align:center;
                            width:100%;
                            height:100%;
                            background-color:$c-white;
                            border-right:5px solid $c-SelectiveYellow;
                            -webkit-box-align:center;
                                -ms-flex-align:center;
                                    align-items:center;
                            display:-webkit-box;
                            display:-ms-flexbox;
                            display:flex;
                            -webkit-box-pack:center;
                                -ms-flex-pack:center;
                                    justify-content:center;
                            font-weight:500;
                            font-size:18px;
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 8 12' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3E arrows %3C/title%3E%3Cg stroke='%2307C' stroke-width='1.5' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1 4l3.034-3L7 3.932M7 8l-3.034 3L1 8.068'/%3E%3C/g%3E%3C/svg%3E");
                            background-position: right 15px top 50%;
                            background-repeat: no-repeat;
                            background-size: 16px;
                            select{
                                padding-left:70px;
                                height: 100%;
                                width: 100%;
                                border: none;
                                background-color: transparent;
                                -moz-appearance:none; /* Firefox */
                                -webkit-appearance:none; /* Safari and Chrome */
                                appearance:none;
                            }
                            .person-icon{
                                position: absolute;
                                left: 15px;
                                margin: 4px 10px 0 0;
                            }
                        }
                    }
                }
                .button{
                    font-size:20px;
                    padding:20px 40px;
                    border:none;
                    background-color:$c-Lochmara;
                    border-radius:3px;
                    color:$c-white;
                }
            }
            .checkbox{
                padding-top:30px;
                color: $c-Boulder2;
                font-size:18px;
                font-weight:450;
                label{
                    svg{
                        margin-left:5px;
                    }
                }
            }
        }
        }
    }
}

.PopUp-Time{
    font-size: 18px;
    cursor: default;
    position: absolute;
    top:75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: $c-white;
    -webkit-box-shadow: 0 2px 8px $c-DoveGray;
            box-shadow: 0 2px 8px $c-DoveGray;
    width: 464px;
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .desc{
        margin-left: -60px;
        font-weight: 400;
        padding-right: 50px;
        p{
            margin-bottom: 0;
        }
        p:nth-child(2){
            margin-top: -3px;
        }
    }
    select::-ms-expand{ 
        display: none
    }

    .hour{
        font-weight: 450;
        padding: 10px 12px 10px 0px;
        min-width: 64px;
        border-radius: 2px;
        border-color: $c-silver;
        background-position: right 20px top 50%;
        background-repeat: no-repeat;
        background-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='16' height='16'%3E%3Cpath fill='%23383838' d='M92 52a4 4 0 0 1-2.8-1.2L64 25.7 38.8 50.8a4 4 0 0 1-5.6-5.6L64 14.3l30.8 30.9A4 4 0 0 1 92 52zm0 24a4 4 0 0 0-2.8 1.2L64 102.3 38.8 77.2a4 4 0 0 0-5.6 5.6L64 113.7l30.8-30.9A4 4 0 0 0 92 76z'/%3E%3C/svg%3E");
        select::-ms-expand {
            display: none;
        }
        select{
            background-color: transparent;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
            width: 75px;
            height: 49px;
            padding-left:10px;
            border-color: $c-silver;
        }
    }
    .minutes{
        font-weight: 450;
        padding: 10px 12px 10px 0px;
        min-width: 64px;
        border-radius: 2px;
        border-color: $c-silver;
        background-position: right 20px top 50%;
        background-repeat: no-repeat;
        background-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' width='16' height='16'%3E%3Cpath fill='%23383838' d='M92 52a4 4 0 0 1-2.8-1.2L64 25.7 38.8 50.8a4 4 0 0 1-5.6-5.6L64 14.3l30.8 30.9A4 4 0 0 1 92 52zm0 24a4 4 0 0 0-2.8 1.2L64 102.3 38.8 77.2a4 4 0 0 0-5.6 5.6L64 113.7l30.8-30.9A4 4 0 0 0 92 76z'/%3E%3C/svg%3E");
        select::-ms-expand {
            display: none;
        }
        select{
            background-color: transparent;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
            width: 75px;
            height: 49px;
            padding-left:10px;
            border-color: $c-silver;
        }
    }
    .submit-btn{
        border: 1px solid $c-Lochmara;
        margin: 15px -68px 15px 0;
        padding: 12px 15px;
        color: $c-Lochmara;
        cursor: pointer;
    }
    .submit-btn:hover{
        background: $c-Polar;
    }

    
}





@media screen and (max-width: 1227px) {

    .searchBarAT{
        .searchBarAT-bar__container {
            .SearchBarAT-wrapper{
                .SearchBarAT-bar {
                    .search-bar {
                        .button {
                            width: 45% !important;
                            margin: 0 auto !important;
                        }
                        margin-top: 20px !important;
                        background-color: $c-SelectiveYellow;
                        width: 100%;
                        border-radius: 3px;
                        border: 5px solid $c-SelectiveYellow;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                    }
                    .wrapper{
                        width: 100% !important;
                        height: 65px !important;
                        border-bottom: 5px solid $c-SelectiveYellow !important;
                        border-right: none !important;
                    }
                    .wrapper2{
                        width: 100% !important;
                        height: 65px !important;
                        border-bottom: 5px solid $c-SelectiveYellow !important;
                        border-right: none !important;
                        .date{
                            -webkit-box-pack: start !important;
                                -ms-flex-pack: start !important;
                                    justify-content: flex-start !important;
                            .date-data{
                                padding-left: 50px;
                                -webkit-box-pack: start !important;
                                    -ms-flex-pack: start !important;
                                        justify-content: flex-start !important;
                                svg{
                                    position: absolute;
                                    left: 15px;
                                }
                            }
                        }
                        .time{
                            .time-data{
                                padding-left: 50px;
                                -webkit-box-pack: start !important;
                                    -ms-flex-pack: start !important;
                                        justify-content: flex-start !important;
                            }
                            svg{
                                position: absolute;
                                left: 15px;
                            }
                        }
                        .people-num{
                            border-right:none !important;
                        }
                    }
                }
               
            }
            
        }
        
    } 
    
}
