.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    background: white;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    z-index: 1;

    
}

.slick-disabled {
    display: block;
  } 

.slick-prev{
    
}

.slick-prev::before,
.slick-next::before{
    display: none;
}

