// @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

@import url("https://cdn.syncfusion.com/ej2/material.css");


body {
    font: 16px/1.2 “-apple-system”, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: $c-black;
}

input:focus  {
    outline: none;
}


/* Customize the label (the container) */
.containerR {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerR input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmarkR {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border:1px solid $c-silver;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  // .containerR:hover input ~ .checkmarkR {
  //   background-color: #ccc;
  // }
  
  /* When the radio button is checked, add a blue background */
  .containerR input:checked ~ .checkmarkR {
    border:3px solid $c-Lochmara;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarkR:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerR input:checked ~ .checkmarkR:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerR .checkmarkR:after {
    top: 3px;
    left: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background: $c-Lochmara;
  }

  /* Customize the label (the container) */
.containerR2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerR2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmarkR2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border:1px solid $c-silver;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
// .containerR:hover input ~ .checkmarkR {
//   background-color: #ccc;
// }

/* When the radio button is checked, add a blue background */
.containerR2 input:checked ~ .checkmarkR2 {
  border:3px solid $c-Lochmara;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkR2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerR2 input:checked ~ .checkmarkR2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerR2 .checkmarkR2:after {
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background: $c-Lochmara;
}

///////////////////////////////////////////checkbox
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border:1px solid grey;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  cursor:pointer;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $c-Lochmara;
  border:1px solid $c-Lochmara;
  border-radius:2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  
  left: 8px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle, .rs-picker-default:not(.rs-picker-disabled) .rs-btn.active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active {
  border-color: white;
  border-radius: unset;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  top:50px;
}

.rs-picker-toggle .rs-picker-toggle-placeholder {
  border-radius: unset;
}
.rs-picker-toggle-clean{
  background-color:white;
}

.rs-picker-toggle-caret {
  display: inline-block;
  margin-left: 2px;
  position: absolute;
  top:40px;
  right: 12px;
  font-weight: normal;
  color: $c-grey;
}

.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean, .rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  top: 20px;
  right: 20px;
}

.rs-picker-daterange-header{
  display: none;
}

.rs-picker-toolbar-option{
  display: none;
}


.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}


input::placeholder{
  color: black;
}
input:focus::placeholder {
  color: $c-grey;
}




//////////////////////////////////////////////////////////////////////////////////////////////////////////


.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border:1px solid $c-silver;
    border-radius: 100%;
  }
  input:checked ~ .checkmark1 {
    border:1px solid $c-Lochmara;
  }
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark1:after {
    display: block;
  }
  .checkmark1:after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 98px;
    background: $c-Lochmara;
  }
}





