/*=colors */

$c-white:#fff;
$c-black:#000000;
$c-DoveGray:#6b6b6b;
$c-grey:grey;
$c-Mercury:#E7E7E7;
$c-Lochmara:#0071C2;
$c-TropicalBlue:#bad4f7;
$c-Camarone:#006607;
$c-Concrete:#F2F2F2;
$c-MineShaft:#262626;
$c-SelectiveYellow:#febb02;
$c-PeachCream:#FFF0E0;
$c-WildSand:#f5f5f5;
$c-Indochine:#d17a06;
$c-orange:orange;
$c-PirateGold:#cd8900;
$c-Boulder:#787676;
$c-SilverChalice:#B1AFAF;
$c-Boulder2:#333;
$c-RegalBlue:#004576;
$c-ResolutionBlue:#003580;
$c-PrussianBlue:#00224f;
$c-silver:#ccc;
$c-Polar:#f0f7fb;
$c-Feta:#e7fde9;
$c-Concrete:#F2F2F2;
$c-DodgerBlues:#1E90FF;
$c-BrightRed:#a30000;

/*=Paddings, Margins*/
$space-largeM: -30px;
$space-x-smallM: -10px;
$space-xxx-small:2px;
$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-large: 30px;
$space-x-large: 40px;
$space-xx-large: 45px;
$space-xxx-large:50px;
$space-X-large:100px;
$space-XX-large:150px;

/*=breaks*/
$break-xs: 500px;
$break-s: 740px;
$break-m: 850px;
$break-l: 1349px;

/*grid*/
$wrapper-H-s: 120px;
$wrapper-W-s: 140px;
$wrapper-H-m: 200px;
$wrapper-H: 250px;
$wrapper-H-l: 600px;
$wrapper-H-xl: 700px;
$wrapper-H-xxl: 800px;
$wrapper-h-xl:1200px;
$wrapper-H-Xxl: 1700px;
$wrappe-H-bodyM: 2150px;
$wrapper-H-bodyL: 2700px;
$wrapper-H-bodyXL: 3000px;

/*lists*/
$sizes: 
8.333333%, 16.66666667%, 25%, 33%, 33333333%, 41%, 66666667%, 50%,58.33333333%, 66.66666667%, 83.33333333%, 91.66666667%, 100%;
;